<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" href="/css/list.css">
</head>

<body>

	<div layout:fragment="content" class="content">
	
	<div class="content-header">
		<h2>공지사항</h2>
		
		<!-- th:if 로 관리자 아닐 때는 숨겨야 함 -->
		<a th:href="@{/announce/register}"><button class="btn btn-success register">글쓰기</button></a>
	</div>
	
	<table class="table table-hover">
	  <thead>
	    <tr>
			<th scope="col"></th>
			<th scope="col">제목</th>
			<th scope="col">작성일</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">main</th>
			<td>
				<a class="title" href="#">
					사람과 사람을 이어주는 BRIDGE입니다.
				</a>
			</td>
			<td>2023.04.15</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>
				<a class="title" th:href="@{/announce/info}">
					후기 게시판 사용 안내입니다.
				</a>
			</td>
			<td>2023.04.17</td>
		</tr>
		<tr>
			<th scope="row">1</th>
			<td>
				<a class="title" th:href="@{/announce/info}">
					구인 게시판 사용 안내입니다.
				</a>
			</td>
			<td>2023.04.16</td>
		</tr>
	</tbody>
	</table>
	   
	<div class="content-footer">
		<ul class="pagination">
		  <li class="page-item disabled">
		    <a class="page-link" href="#">&laquo;</a>
		  </li>
		  <li class="page-item active">
		    <a class="page-link" href="#">1</a>
		  </li>
		  <li class="page-item">
		    <a class="page-link" href="#">2</a>
		  </li>
		  <li class="page-item">
		    <a class="page-link" href="#">3</a>
		  </li>
		  <li class="page-item">
		    <a class="page-link" href="#">4</a>
		  </li>
		  <li class="page-item">
		    <a class="page-link" href="#">5</a>
		  </li>
		  <li class="page-item">
		    <a class="page-link" href="#">&raquo;</a>
		  </li>
		</ul>
		<!-- 검색창 -->
		<div class="input-group mb-3 search">
			<input type="text" class="form-control" placeholder="검색어를 입력하세요" aria-label="제목+내용" aria-describedby="button-addon2" name="value">
			<button class="btn btn-success" type="button" id="button-addon2">
				검색
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
			</button>
		</div>
	</div>
	</div>
	
</body>
</html>