<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="configFragment">
	
		<head>
			<meta charset="UTF-8">
			<title>BRIDGE</title>
			<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
			
			<!-- css -->
			<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
			<link rel="stylesheet" th:href="@{/css/header.css}"  />
		    <link rel="stylesheet" th:href="@{/css/footer.css}"  />
		    <link rel="stylesheet" th:href="@{/css/basic.css}"  />
		    
		    <!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/main.js"></script>
		</head>
	
	</th:block>
	
</html>