<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<footer th:fragment="footerFragment">
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">
                <section>
                    <div class="row">
                        <div class="col-6 col-12-medium">
                            <ul class="icons">
                                <li class="icon solid fa-home">
                                    LG마곡사이언스파크<br/>
                                    E13동.304<br/>
                                    대한민국
                                </li>
                                <li class="icon solid fa-phone">
                                    02-6987-8282
                                </li>
                                <li class="icon solid fa-envelope">
                                    <a href="https://www.lg.co.kr/media/voc">Team1@naver.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-small">
                            <ul class="icons">
                                <li class="icon brands fa-twitter">
                                    <a href="https://twitter.com/LGCNS_COMM">Team1@twitter.com</a>
                                </li>
                                <li class="icon brands fa-instagram">
                                    <a href="https://www.instagram.com/">Instagram</a>
                                </li>
                            </ul>
                            <ul class="icons">
                        		<li class="icon brands fa-dribbble">
                                    <a href="https://story.kakao.com">kakao story</a>
                                </li>
                                <li class="icon brands fa-facebook-f">
                                    <a href="https://www.facebook.com/">facebook</a>
                                </li>
                        	</ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-6 col-12-medium">
                <section>
                    <p>회사 소개 문구~~</p>
                </section>
            </div>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="links">
            <li>&copy; Untitled. All rights reserved.</li>
        </ul>
    </div>
</section>
</footer>
</body>
</html>