<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/message.css">
</head>
<body>

	<div layout:fragment="content" class="content">

	<div class="wrapper">

		<div th:replace="~{layout/mSidebar.html :: sidebarFragment}"></div>
		
		<div class="content">
			<table class="table table-hover">
				<thead>
				    <tr>
						<th scope="col"></th>
						<th scope="col">보낸 사람</th>
						<th scope="col">내용</th>
						<th scope="col">날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"></th>
						<td>
							<a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">JANG</a>
					        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						        <a class="dropdown-item" th:href="@{/message/register}">쪽지 보내기</a>
						        <a class="dropdown-item" th:href="@{/page/yourInfo}">프로필 보기</a>
					        </div>
						</td>
						<td>
							<a class="title" th:href="@{/message/info}">
								봄맞이 네일 받아보고 싶은데 필요한 사람 모두 구하셨나요?
							</a>
						</td>
						<td>2023.04.17</td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td>
							<a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">JANG</a>
					        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						        <a class="dropdown-item" th:href="@{/message/register}">쪽지 보내기</a>
						        <a class="dropdown-item" th:href="@{/page/yourInfo}">프로필 보기</a>
					        </div>
						</td>
						<td>
							<a class="title" th:href="@{/message/info}">
								봄맞이 네일 받고 싶어요~
							</a>
						</td>
						<td>2023.04.17</td>
					</tr>
				</tbody>
			</table>
			<div class="content-footer">
				<ul class="pagination">
				  <li class="page-item disabled">
				    <a class="page-link" href="#">&laquo;</a>
				  </li>
				  <li class="page-item active">
				    <a class="page-link" href="#">1</a>
				  </li>
				  <li class="page-item">
				    <a class="page-link" href="#">2</a>
				  </li>
				  <li class="page-item">
				    <a class="page-link" href="#">3</a>
				  </li>
				  <li class="page-item">
				    <a class="page-link" href="#">4</a>
				  </li>
				  <li class="page-item">
				    <a class="page-link" href="#">5</a>
				  </li>
				  <li class="page-item">
				    <a class="page-link" href="#">&raquo;</a>
				  </li>
				</ul>
				<!-- 검색창 -->
				<div class="input-group mb-3 search">
					<input type="text" class="form-control" placeholder="검색어를 입력하세요" aria-label="제목+내용" aria-describedby="button-addon2" name="value">
					<button class="btn btn-success" type="button" id="button-addon2">
						검색
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</button>
				</div>
			</div>
		</div>
	
	</div>
	
	</div>
	
	<footer th:replace="~{layout/footer.html :: footerFragment}"></footer>

</body>
</html>